.item {
    display: block;
    height: auto;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    margin-bottom: 25px;
    padding: 0px 15px;
    height: 480px;
	padding-left:5px;
}

#SimilarProductSlider .item {
    height: auto!important;
}

.product {
    display: block;
    height: auto;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    text-align: center;
    padding:10px 0;
    border:1px solid transparent;
	border: 1px solid #EAEAEA;
    position: relative;
}
.product:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(68%,rgba(255,255,255,0.68)), color-stop(100%,rgba(45, 65, 97, 0.1)));
    background: -moz-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(68%,rgba(255,255,255,0.68)), color-stop(100%,rgba(45, 65, 97, 0.1)));
}

.product:hover {
    opacity: 1;
    transform: rotateY(0deg);
}

.image {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    max-height: 240px;
	height:190px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.image a {
    display: block;
    overflow: hidden;
    display: flex;
    height: 100%;
}
.image a img {
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    max-height: 190px;
    margin: auto;
}

.item h4 {
    margin: 0;
    overflow: hidden;
    display: block;
    line-height: 20px;
    text-align: left;
    padding-bottom: 2px;
}
.item h4 a {
    color: #085eb9;
    text-decoration: none;
	font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
}
.item h4 a:hover {
    color: #053970;
}

.item.grid-view .productRating{
    margin-right:5px;
}
.item.grid-view .ratingInfo span {
    padding:0 0px;
    border:none;
}
.description {
    margin: 10px auto;
     min-height: 60px; 
    padding: 0px 15px;
    border-top: 1px solid #DDDDDD;
}
.grid-view .description {
    margin: 5px auto 10px auto;
    min-height: 60px; 
    padding: 0px 15px;
    border-top: 1px solid #DDDDDD;
}
.item .description p {
    color: #7F8C8D;
    font-size: 12px;
    min-height: 55px;
    max-height: 90px;
    overflow: hidden;
    line-height: 18px;
    font-weight:normal;
    text-align: left;
    margin-bottom: 5px;

}
.ProductHome {
    margin: 0;
    overflow: hidden;
    display: block;
    line-height: 20px;
    text-align: center;
    padding-bottom: 2px;

}

.ProductHome a {
    color: #085eb9;
    text-decoration: none;
	font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
}
.ProductHome a:hover {
    color: #053970;
} 

.highlights {
	list-style: disc;
    padding-left: 15px;
    
}
.highlights li {
    line-height:18px;
}

.item .highlights {
	list-style:disc;
	padding-left:16px;
    font-size: 12px;
    color: #8C8C8C;
    font-weight: 400;
    font-family: Roboto;
    margin-bottom: 10px;
}
.product-detail .highlights{
     margin-bottom: 10px; 
}
.item .highlights li{
	line-height:18px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #49494a;
    font-family: Roboto;
}
.old-price {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    text-decoration: line-through;
	line-height:normal;
}
.item .price {
    margin: 0px 15px;
    padding: 7px 0 0px 0px;
    text-align: center;
    border-top: 1px solid #EEEEEE;
}
.action-control {
    border: 0;
    display: block;
    height: auto;
    padding: 5px 15px 5px;
    width: 100%;
    text-align: left;
}
.action-control a {
    cursor: pointer;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 3px;
    background: #003B64;
    background: -moz-linear-gradient(top,#003B64 5%,#022E4C 100%);
    background: -webkit-linear-gradient(top,#003B64 5%,#022E4C 100%);
}

.action-control a:hover, .action-control a.active {
    color: #ffffff;
    background: #022E4C;
    background: -moz-linear-gradient(top,#022E4C 5%,#003B64 100%);
    background: -webkit-linear-gradient(top,#022E4C 5%,#003B64 100%);
}

.promotion {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    text-align:left;
}

.new-product {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 600;
    /* width: auto; */
    padding: 3px 8px;
    line-height: 1;
    display: inline-block;
    margin-bottom: 3px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #FF9000 !important;
}

.discount {
    background: #022E4C;
    border-radius: 2px;
    color: #fff;
    float: none;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 600;
    height: auto;
    padding: 3px 5px;
    width: auto;
    display: table;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom:3px;
}

.add-fav {
    font-size:20px;
    border-radius: 0px;
    height: 35px;
    line-height: 36px;
    position: absolute;
    right: -1px;
    text-align: center;
    top: -1px;
    width: 35px;
    z-index: 10;
    color: #494793;
    transform: scale(1.15);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: opacity .3s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .3s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .3s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .3s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .3s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(Opacity=0)";
    display:none;
}

.owl-item .add-fav{
    border-radius:0px;
    top:-1px;
    right:-1px;
}

.product:hover .add-fav {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.add-fav i {
        -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rrotate(0deg);
    transform: scale(1) rotate(0deg);
    transition: all .3s ease;
}
.add-fav:active i {
    
    -moz-transform: scale(0.85) rotate(4deg);
    -o-transform: scale(0.85) rotate(0deg);
    -ms-transform: scale(0.85) rrotate(0deg);
    transform: scale(0.85) rotate(4deg);
}
div.quickview {
    display: block;
    top: 150px;
    max-height: 50px;
    position: absolute;
    text-align: center;
    z-index: 2;
    left: -98px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(Opacity=0)";
}
.product:hover div.quickview {
    opacity: 1;
    -webkit-transform: translateX(98px);
    -moz-transform: translateX(98px);
    -ms-transform: translateX(98px);
    -o-transform: translateX(98px);
    transform: translateX(98px);
}
.btn-quickview {
    font-size: 13px;
    color: #212121!important;
    text-transform: capitalize;
    background: rgba(234, 234, 234, 0.7);
    border: 1px solid #ddd;
    border-left: 0px;
    border-radius: 0px 4px 4px 0px;
    padding: 8px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1;
    display: inline-block!important;
    z-index: 2;
}
.btn-quickview:before {
    font-family: 'Glyphicons Halflings';
    content: "\e140";
    font-size: 10px;
    font-weight: normal;
    margin-right:3px;
}
.btn-quickview:hover {
    background: rgba(255, 255, 255, 0.9);
}

.cart a {
    font-size: 20px;
    color: #2c3e50;
    margin: 0 0;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.13s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
}

.stock-status {
    text-align:left;
    padding: 5px 15px 5px;
}

.stock-status .out-of-stock{
    font-size: 0px;
    font-weight: bold;
    display: inline-block;
    padding: 9.5px 15px;
    border: 1px solid #E40613;
    border-radius: 3px;
    line-height: 1;  
}

.stock-status .out-of-stock:after{
    content: 'out of stock';
    text-transform: uppercase;
    font-size: 14px;
}

.compare {
    padding-top:10px;
    font-size:12px;
}

.compare label{
    margin-bottom:7px;
    line-height:1;
    color:#085eb9;
}
.compare input{
    margin-top:0px;
}

.product-orderquantity {
    font-size: 11px;
    text-align: left;
    display: inline-block;
}

.product-orderquantity .product-data-title, .product-orderquantity .product-data {
    color:#444 !important;
}
.product-orderquantity .product-data {
    font-weight:bold;
}

.product-availablequantity {
    font-size: 11px;
    text-align: left;
    display: inline-block;
    margin-left:5px;
    margin-bottom: 5px;
}
.product-availablequantity .product-data-title, .product-availablequantity .product-data {
    color:#444 !important;
}
.product-availablequantity .product-data {
    font-weight:bold;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .product-availablequantity {
        margin-left:0px;
        margin-bottom: 5px;
    }
}


/* Timer */
.product-timer {
    margin: 0;
    width: 80%;
    padding: 5px 15px 10px;
    background: #fff;
	border:1px solid #EAEAEA;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 0px;
    opacity: 1;
    position: absolute;
    top: 60px;
	left:10%;
    opacity:0.6;

}
.product:hover .product-timer {
    opacity: 1;
    border-top: 1px solid #E2E5EB;
    border-bottom: 1px solid #E2E5EB;
}
.product-timer .timer-title {
    text-transform: uppercase;
    font-size: 11px;
    display: block;
    margin-bottom: 3px;
    font-family: Lato;
}
.product-timer .timer-title:before
{
	content:'Limited Time Left';
}
.product-timer .timer {
    background:none;
    padding: 0px;
    font-size: 0px;
    border: 0px solid #EAEAEA;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
}
.product-timer .timer span{
    position: relative;
    font-size: 15px;
    font-family: Oswald;
    padding: 4px 0px 16px;
    width: 23.5%;
    margin: 0 2% 0 0;
    text-align: center;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    display: inline-block;
}
.product-timer .timer span:last-child{
    margin:0 0 0 0;
}
.product-timer .timer .days:after{
    content: 'Days';
    position:absolute;
    font-size:10px;
    bottom:1px;
    width:100%;
    left:0px;
    text-align:center;
}
.product-timer .timer .hours:after{
    content: 'Hours';
    position:absolute;
    font-size:10px;
    bottom:1px;
    width:100%;
    left:0px;
    text-align:center;
}
.product-timer .timer .mins:after{
    content: 'Mins';
    position:absolute;
    font-size:10px;
    bottom:1px;
    width:100%;
    left:0px;
    text-align:center;
}
.product-timer .timer .secs:after{
    content: 'Secs';
    position:absolute;
    font-size:10px;
    bottom:1px;
    width:100%;
    left:0px;
    text-align:center;
}

.list-view .product-timer {
    margin: 0 0 15px;
    float: none;
    width: 70%;
    padding: 5px 15px 10px;
    position: static;
    background: #fff;
    border: 1px solid #E2E5EB;
    opacity: 1;
}
.list-view  .product-timer .timer span{
    position:relative;
    font-size:16px;
    padding:4px 0px 16px;
    width:22%;
    margin:0 4% 0 0;
    text-align:center;
    background-color: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius:2px;
    display:inline-block;
}
.list-view  .product-timer .timer span:last-child{
    margin:0 0% 0 0;
}

.product-detail .product-timer {
    margin: 0px 0 15px;
    float: right;
    width: 90%;
    padding: 5px 15px 10px;
    position: static;
    background: #fff;
    border: 1px solid #E2E5EB;
    opacity: 1;
}
.product-detail .product-timer .timer span{
    position:relative;
    font-size:16px;
    padding:4px 0px 16px;
    width:22%;
    margin:0 4% 0 0;
    text-align:center;
    background-color: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius:2px;
    display:inline-block;
}
.product-detail .product-timer .timer span:last-child{
    margin:0 0% 0 0;
}
/* End Timer*/

/*-- End Product View --*/

/*-- Product List View --*/
.list-view .product:hover div.quickview {
    margin-top: 45%;
}
.item.list-view .product {
    padding-right: 0px;
    min-height: auto;
    float: inherit;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 20px;
    border:none;
  	border-bottom: 1px solid #DDDDDD;
}
.item.list-view .product:hover {
    background:#fff;
    box-shadow:none;
    border: none;
    border-bottom: 1px solid #DDDDDD;
}

.list-view .product .add-fav {
    right: 40px;
    top: 8px;
}

.item.list-view {
    display: block;
    height: auto!important;
    width: 100%!important;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px 15px;
}
.item.list-view .image {
    display: block;
    float: left;
    overflow: visible;
    position: relative;
    text-align: center;
    height: auto;
    max-width: 200px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    padding-right: 20px;
    background: #fff;
    padding:10px;
}
.item.list-view .image a {
    display: block;
    max-height: 100%;
    height: 100%;
    max-height: 100%!important;
}
.item.list-view .image img {
    max-height: 200px;
    width: auto!important;
}
.item.list-view h4 {
    height: auto;
    margin: 0px;
    font-size: 24px;
    border:none;
}
.item.list-view h4 a {
    font-weight: bold;
    font-size: 18px;
}
.item.list-view .description {
    text-align: left;
    margin: 0 auto;
    max-width: 100%;
    margin-top:5px;
    border-top: none;
    padding:0px;
}
.item.list-view .description p {
    text-align: left;
    max-height: 200px;
    min-height: 10px;
    color: #444;
}
.item.list-view .view-more {
    font-weight: 500;
    color: #31698e;
    position: inherit;
    display: block;
    margin-top: -10px;
    cursor:pointer;
}
.item.list-view .grid-description {
    display: none;
}
.item.list-view .highlights{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #444;
    font-weight: 400;
    font-family: Roboto;
    padding-left: 15px;
}
.item.list-view .highlights li{
    line-height: 18px;
}
.product-category {
    color:#989898;
    font-size:12px;
}
.item.list-view .product-code {
    font-size:12px;
    margin:0px;
}
.item.list-view .product-code .product-data-title{
    font-size:0px;
}
.item.list-view .product-code .product-data-title:after{
    font-size:11px;
    content:'Code:';
}
.item.list-view .product-brand {
    font-size:12px;
    margin:0px;
}
.item.list-view .product-stock {
    font-size: 12px;
    display: inline-block;
    margin: 0px 0px 0px 10px;
    line-height: 1;
    width: 100%;
}
.item.list-view .product-stock .product-data-title{
    color:#8E8E8E;
}
.item.list-view .product-stock .product-data{
    color: #57B700;
    font-weight: 500;
}
.item.list-view .product-installment {
    font-size: 12px;
    padding: 3px 0;
    margin: 5px 0px;
    border-bottom: 1px dashed rgb(234, 234, 234);
    border-top: 1px dashed rgb(234, 234, 234);
    color: #949494;
	margin-bottom:10px;
}
.item.list-view .price {
    font-size: 22px;
    text-align: left;
    margin: 0px;
    border: none;
    padding: 10px;
}
.item.list-view .action-control {
    text-align: left;
	display:inline;
    padding:0px;
}
.item.list-view .action-control a {
    width: 100%;
    cursor: pointer;
    font-family: Roboto;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 18px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #49494a;
    background: #fff200;
    background: -webkit-linear-gradient(top,#fff200 0,#ffe500 100%);
    background: -moz-linear-gradient(top,#fff200 0,#ffe500 100%);
    border: solid 1px #f2ca00;
    border-bottom-width: 2px;
}
.item.list-view .action-control a:hover {
    background: #ffe500;
    background: -webkit-linear-gradient(top,#fff200 0,#fff200 100%);
    background: -moz-linear-gradient(top,#fff200 0,#fff200 100%);
    border-color: #f2ca00;
}
.item.list-view .action-control a.btn-wishlist {
    background: #CCCCCC;
    line-height: 1.4em;
    text-decoration: none;
    border: solid 1px #B7B7B7;
    color: #fff;
}
.item.list-view .action-control a.btn-wishlist:hover {
    background: #fff;
    color: #666;
}

.item.list-view .promotion {
    position: absolute;
    z-index: 10;
    bottom: 50px;
    left: -16px;
    height: 24px;
    width: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.item.list-view .imageHover {
    background: #fff;
    display: block;
    float: left;
    max-height: 260px;
    max-width: 200px;
    overflow: hidden;
    padding-right: 20px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}


.list-description {
    display: none;
}
.item.list-view .list-description {
    display: block;
}
/*-- End Product List View --*/

/*-- Product Detail View --*/
.product-title {
    letter-spacing: 0.25px;
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 2px;
    color: #49494a;
    font-weight: 500;
    font-size: 24px;
    font-family: Roboto;
}
.details-description {
    color: #444;
    font-size: 13px;
    margin-top:5px;
    margin-bottom: 2px;
}
.product-properties {
    margin-bottom:10px;
    margin-top: 10px;
}
.product-data-title {
    color: #9C9C9C;
}
.product-data {
    color: #444;
}
.product-code {
    height: 20px;
    font-size:13px;
}
.product-brand {
    height: 20px;
    font-size:13px;
}
.product-updatedate {
    height: 20px;
    font-size:13px;
}
.product-stockstatus {
    font-size:24px;
    margin: 0px 0px 10px 0;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -o-inline-box;
}
.product-stockstatus .product-data-title {
    color: #797979;
    display: none;
}
.product-stockstatus .product-data {
    color: #15C308;
    font-weight: 500;

}
.out-of-stock {
	color:#e40613 !important;
}
.product-price {
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
    font-family: Roboto;
    clear: both;
}
.price-sales {
    color:#49494a;
}
.price-standard {
    color: #999999;
    font-size: 14px;
    text-decoration: line-through;
}
.product-installment {
    font-size: 12px;
    padding: 3px 0;
    border-top: 1px solid rgb(234, 234, 234);
    color: #B7B7B7;
}
.color-details {
    display: -webkit-box;
    border-top: 1px solid rgb(234, 234, 234);
    border-bottom: 1px solid rgb(234, 234, 234);
    margin-top: 10px;
    padding: 4px 0px 10px;
    margin-bottom: 10px;
}
.selected-color {
    vertical-align: middle;
    display: table-cell;
    padding: 5px 0 0px 0;
    height:0px;
    color:#6B7884;
    font-weight: 400;
}
#upColor {
    display: block;
}
.swatches {
    margin: 0px 0 5px 0;
    padding-left: 0;
    display: -webkit-box;
}
.swatches li {
    border: 2px solid #FFFFFF;
    display: inline-block;
    margin: 0px 1px;
    vertical-align: top;
    list-style: none;
}
.swatches .selected, .swatches li:hover {
    border: 2px solid #B2B2B2;
}
.swatches a {
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    box-shadow: 1px 1px 2px #C5C5C5;
    display: block;
    height: 33px;
    text-align: center;
    transition: all 0.25s ease 0s;
    width: 33px;
}
.swatches a img {
    height: 29px;
    width: 29px;
}
.productFilter {
    clear: both;
    display: block;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    border-top: 1px solid rgb(234, 234, 234);
  	border-bottom: 1px solid rgb(234, 234, 234);
  	margin-bottom:20px;
}

.productFilter select, .categoryFooter select{
    font-size: 13px;
    color: #085eb9;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, #fff 0, #f1f2f2 100%);
    background-image: linear-gradient(to bottom, #fff 0, #f1f2f2 100%);
    background-repeat: repeat-x;
}

.cart-actions {
    margin-top: 0;
    margin-bottom: 10px;
    display: inline-block;
}
.cart-actions button, .cart-actions .btn-cart, .cart-actions .wishlist {
    width: 70%;
    border-radius: 3px;
    color: #49494a;
    display: block;
    float: left;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 1em;
    margin: 10px 10px 0 0;
    padding: 8px 16px;
    text-transform: capitalize;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    -ms-transition: all 0.25s ease 0s;
    box-shadow: inset 0 -1px 1px #f2ca00;
    background: #ffe500;
    background: -webkit-linear-gradient(top,#fff200 0,#ffe500 100%);
    background: -moz-linear-gradient(top,#fff200 0,#ffe500 100%);
    border: solid 1px #f2ca00;
}
.cart-actions .btn-cart:hover {
    color: #49494a;
    background: #fff200;
    background: -webkit-linear-gradient(top,#fff200 0,#fff200 100%);
    background: -moz-linear-gradient(top,#fff200 0,#fff200 100%);
    border: solid 1px #f2ca00;
}
button.first {
    margin-right: 20px;
    margin-bottom: 10px;
}
.cart-actions .wishlist {
    background: #ECECEC;
    line-height: 1.1em;
    text-decoration: none;
    border: solid 1px #E0E0E0;
    box-shadow: none;
    text-align: center;
}
.cart-actions .wishlist:hover {
    background: #fff;
    color: #666;
}
.product-share {
    border-top: 3px solid #DDDDDD;
    clear: both;
    display: inline-block;
    margin-top: 10px;
    padding-top: 14px;
    width: 100%;
}
.socialIcon a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
    padding: 5px 3px;
    margin-right: 5px;
    text-align: center;
    width: 33px;
    border-radius: 2px;
    transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;
    -ms-transition: all 0.15s ease-in-out 0s;
}
.socialIcon a.fa-facebook {
    background:#305891;
}
.socialIcon a.fa-twitter {
    background:#55acee;
}
.socialIcon a.fa-google-plus {
    background:#d34836;
}
.socialIcon a.fa-linkedin {
    background:#0077B5;
}
.socialIcon a.fa-pinterest {
    background:#C92228;
}
.socialIcon a.fa-tumblr{
    background:#35465c;
}

.socialIcon a:hover {
    color: #EAEAEA;
}


.product-addOn {
    margin-top: 15px;
}
.addOn-heading {
    background: #003B64;
    color: #fff;
    padding: 7px 10px;
    display: block;
    font-size: 14px;
    border: 1px solid #022E4C;
    border-bottom: 0px;
}
.addOn-subheading {
    padding: 5px 10px 5px 10px;
    background: #F9F9F9;
    display: block;
    font-size: 13px;
    border: 1px solid #EAEAEA;
    border-top: 0px;
    color: #666;
}
.addOn-items {
    padding: 5px 10px;
    display: block;
    font-size: 11px;
    border: 1px solid #EAEAEA;
    border-top: 0px;
}
.addOn-items input {
    width: 13px;
    position: absolute;
    display: block;
    margin-top: 5px;
}
.addOn-items label {
    margin-left: 20px;
}

.product-competitorprice {
    margin:10px 0px;
        clear: both;
}
.product-competitorprice span{
    margin-left:-2px;
}
.product-competitorprice span.product-data{
    margin-left:2px;
}
.product-competitorprice img{
    width:22px;
    height:22px;
    vertical-align: top;
}
.product-competitorprice a{
    font-weight:500;
    color: #006CDE;
}

.divActionContainer {
    border: 1px dashed silver;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    width: 90%;
}
.product-warranty {
    font-size: 13px; 
    line-height: 1;
    margin-bottom: 5px;  
}
.product-warranty .product-data-title{
    font-size: 13px; 
    color: #085eb9;  
}
.product-warranty .product-data{
    color: #085eb9;
    font-weight:bold;
}

.product-compare {
    font-size: 13px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px 5px 5px 0px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.75);
    background: #f6f6f6;
    background: -webkit-linear-gradient(top,#f6f6f6 0,#e8e8e8 100%);
    background: -moz-linear-gradient(top,#fff200 0,#fff200 100%);
    border: solid 1px #c3c4c4;
}
.product-compare a{
    color: #085eb9;
    font-family: Roboto;
    text-transform: capitalize;
    font-weight:500;
}
.product-compare a:hover{
    color: #085eb9;
}
.product-compare:hover {
    background: #fff;
    background: -webkit-linear-gradient(top,#fff 0,#f6f6f6 100%);
    background: -moz-linear-gradient(top,#fff 0,#f6f6f6 100%);
    border: solid 1px #c3c4c4;
}
.product-compare:before {
    position: relative;
    top: 0px;
    margin-right: 2px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0c5";
    color: #085eb9;
}
.product-pricealert {
    font-size: 13px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px 5px 5px 0px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.75);
    background: #f6f6f6;
    background: -webkit-linear-gradient(top,#f6f6f6 0,#e8e8e8 100%);
    background: -moz-linear-gradient(top,#fff200 0,#fff200 100%);
    border: solid 1px #c3c4c4;
}
.product-pricealert:hover {
    background: #fff;
    background: -webkit-linear-gradient(top,#fff 0,#f6f6f6 100%);
    background: -moz-linear-gradient(top,#fff 0,#f6f6f6 100%);
    border: solid 1px #c3c4c4;
}
.product-pricealert a{
    color: #085eb9;
    font-family: Roboto;
    text-transform: capitalize;
    font-weight:500;
}
.product-pricealert a:hover{
    color: #085eb9;
}
.product-pricealert:before{
    position: relative;
    top: 0px;
    margin-right: 2px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f155";
    color: #085eb9;
}

.product-stockalert {
    font-size: 13px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.75);
    background: #f6f6f6;
    background: -webkit-linear-gradient(top,#f6f6f6 0,#e8e8e8 100%);
    background: -moz-linear-gradient(top,#fff200 0,#fff200 100%);
    border: solid 1px #c3c4c4;
}
.product-stockalert:hover {
    background: #fff;
    background: -webkit-linear-gradient(top,#fff 0,#f6f6f6 100%);
    background: -moz-linear-gradient(top,#fff 0,#f6f6f6 100%);
    border: solid 1px #c3c4c4;
}
.product-stockalert a{
    color: #085eb9;
    font-family: Roboto;
    text-transform: capitalize;
    font-weight:500;
}
.product-stockalert a:hover{
    color: #085eb9;
}
.product-stockalert:before{
    position: relative;
    top: 0px;
    margin-right: 2px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f1c0";
    color: #085eb9;
}

.product-shipping-heading {
	color:#717171;
}
.product-shipping-heading:before {
	position: relative;
    top: 0px;
    margin-right: 4px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f207";
    color: #717171;
}
.product-shipping {
    margin-left: 0px;
    /* margin-bottom: 10px; */
    font-size: 13px;
    /*display: -webkit-inline-box;*/
    color: #8A8A8A;
    padding: 3px 5px !important;
}
.product-shipping i{
    margin-right: 3px;
}

.product-shipping #divShippingPrice {
    font-weight:bold;
    color: #49494A;
}

.product-action {
    height: 20px;
    font-size:13px;
    font-weight: 500;
}
.product-action a{
    font-family: Roboto;
    color: #EC0404;
}
.product-action a:hover{
    color: #D20505;
}

.zoomThumb {
    text-align: center;
    margin-top: 10px;
}
.zoomThumb a {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
    border: 2px solid #eee;
    display: inline-block;
    margin-right: 5px;
}
.zoomThumb a img {
    max-width: 100%;
}
.zoomImg {
    cursor: crosshair;
}

.sp-wrap {
    border: none!important;
}
.sp-thumbs {
    text-align: center!important;
}

.sp-large a img {
    width: auto !important;
    height: 330px;
	max-width:100%;
	max-height:330px;
    margin-left: auto;
    margin-right: auto;
}
.sp-large {
    max-width: 90%;
}
.sp-thumbs {
    position: absolute;
    bottom: 140px!important;
    width: 100px!important;
	right: 0!important;
    text-align: left;
    z-index: 70;
}
.sp-thumbs a:link, .sp-thumbs a:visited {
    border: 2px solid #EEEEEE;
    display: inline-block;
    margin-bottom: 10px;
}
.main-image .sp-thumbs a:link, .sp-thumbs a:visited {
    margin-right: 0!important;
}
.sp-thumbs img {
    height: auto!important;
    width: 60px!important;
}
.style2 .sp-thumbs {
    top: 0!important;
    width: 19%!important;
}
.style2 .sp-thumbs img {
    height: auto!important;
    width: 100px!important;
    max-width: 100%;
    width: 100px!important;
}
.style2 .sp-thumbs a:link, .style2 .sp-thumbs a:visited {
    float: left!important;
    width: 100%;
}
.style2 .sp-large {
    max-width: 80%!important;
    border: 1px solid #DDDDDD;
}


.product-video {
    width:80%;
    margin-left:10%;
    margin-top:20px;
    height:20px;
    text-align:center;
    display:inline-block;
    border-top:1px solid #DDDDDD;
    padding-top:10px;
    margin-bottom:30px;
}

.sp-loading {
	text-align: center;
	max-width: 270px;
	padding: 15px;
	border: 5px solid #eee;
	border-radius: 3px;
	font-size: 12px;
	color: #888;
}
/* Element wrapper */
.sp-wrap {
	display: none;
    line-height: 0;
    max-width: 100%;
    text-align: center;
    z-index: 10;
    width: 100%;
    background: none!important;
    margin:0px;
}
/* Thumbnails */
.sp-thumbs {
	text-align: left;
	display: inline-block;
    margin-top: 20px;
}
.sp-thumbs img {
	min-height: 50px;
	min-width: 50px;
	max-width: 60px;
    max-height:60px;
}
.sp-thumbs a:link, .sp-thumbs a:visited {
	width: 60px;
    height: 60px;
    border: 1px solid silver;
    margin-right: 5px;
	overflow: hidden;
	opacity: .3;
	display: inline-block;
	background-size: cover;
	background-position: center;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.sp-thumbs a:hover {
	opacity: 1;
}
/* Styles for the currently selected thumbnail */
.sp-thumbs a:active, .sp-current {
	opacity: 1!important;
	position: relative;
}
/* Image currently being viewed */
.sp-large {
	position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 330px !important;
  display: table;
  vertical-align: middle;
  width: 100% !important;
  border:1px solid #fff;
}
.sp-large:hover{ 
    border:1px solid silver !important;
}
.sp-large:hover .sp-zoom{ 
    border:0px !important;
}
.sp-large a {
  width: 100% !important;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: flex;
    text-align: -webkit-center;
    height:330px;
    display: table-cell;
    vertical-align:middle;
}
.sp-large a img {
    width: auto !important;
    height:330px;
    max-width: 100%;
    max-height: 330px;
    margin-left: auto;
    margin-right: auto;
}

/* Panning Zoomed Image */
.sp-zoom {
	position: absolute;
	left: -50%;
	top: -50%;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	display: none;
	border: 1px solid silver;
}
/* Lightbox */
.sp-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .9);
	z-index: 500;
	display: none;
}
.sp-lightbox img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 90%;
	max-height: 90%;
	border: 2px solid #fff;
}
#sp-prev, #sp-next {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 501;
	color: #fff;
	padding: 14px;
	text-decoration: none;
	background: #000;
	border-radius: 25px;
	border: 2px solid #fff;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	transition: .2s;
}
#sp-prev {
	left: 10px;
}
#sp-prev:before {
	content: '';
	border: 7px solid transparent;
	border-right: 15px solid #fff;
	position: absolute;
	top: 16px;
	left: 7px;
}
#sp-next {
	right: 10px;
}
#sp-next:before {
	content: '';
	border: 7px solid transparent;
	border-left: 15px solid white;
	position: absolute;
	top: 16px;
	left: 18px;
}
#sp-prev:hover, #sp-next:hover {
	background: #444;
}
/*-- End Product Detail View --*/

/*-- Rating --*/
.product-detail .rating {
	padding: 5px 0px;
    font-size: 12px;
    color: #085eb9;
}
.product-detail .rating a{
    color: #085eb9;
}
.rating {
    text-align:left;
}
.item.list-view .rating {
    text-align: left;
    font-size: 13px;
}
.product-catg-compare {
    text-align: left;
    padding: 5px 15px 0;
}
.star_rating {
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  font-size:17px;
}
.star_rating:before {
  display: block;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f006\f006\f006\f006\f006";
  color: #d4d4d4;
}
.star_rating span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  overflow: hidden;
}
.star_rating span:before {
  font-family: FontAwesome;
  color: #FFD603;
  position: absolute;
  left: 0;
  top: 0;
  content: "\f005\f005\f005\f005\f005";
  display: block;
}
.product-rating {
    margin-right: 10px;
}
.rating span {
    display: inline-block;
}
.ratingInfo span{
    padding:0 10px;
    border-left:1px solid silver;
    line-height: 16px;
}
.ratingInfo span.first{
    padding:0 10px;
    border-left:1px solid silver;
    line-height: 17px;
}
.ratingInfo a{
    padding:0px 10px;
    border-left:1px solid silver;
}
.review-count {
    font-size:14px;
}
.review-sort-heading {
}
.review-sort-label {
    display:inline;
    margin-top: 5px;
    margin-right: 10px;
}
.review-name {
    font-size: 16px;
    font-weight: 600;
    color: #D20505;
    margin-right:5px;
}
.review-location {
    font-size:12px;
}
.review-date {
    font-size: 12px;
    color: #AFAFAF;
}
.review-subject {
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    margin-top:15px;
}
.review-recommend {
    font-weight:600;
    margin-top:10px;
}
.review-usefulcount {
    margin-top:15px;
}
.review-feedback {
    margin-bottom:20px;
}
.rating-factors {
    margin-bottom:20px;
}
.rating-factors td{
    padding-top:5px;
    padding-bottom:5px;
}
.rating td{
    display: inline-block;
}
.review-sort-list {
    display:inline;
    width:180px;
}
.rating-breakup td.rating-progress{
	width:200px;
	text-align:center;
}
.rating-breakup td.rating-star{
	width:100px;
	text-align:right;
}
.rating-factors td.rating-factor{
	width:100px;
}
.rating-factors td.rating-star{
	width:170px;
	text-align:center;
}
/*-- End Ratings --*/

/*-- Tabs --*/
.product-tab {
    width: 100%;
    display: inline-block;
    clear: both;
    padding: 0 10px;
}
.nav-tabs {
    margin-bottom: 20px;
}
.nav-tabs li a {
    font-size: 15px;
    font-weight: 200;
    margin: 0 0 0 0;
}
.nav-tabs>li.active, .nav-tabs>li {
    background: none;
}
.nav-tabs>li>a {
    border: 0;
    border-radius: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li:hover>a {
    color: #fff!important;
    border: 0;
    border-radius: 0;
}
/* dont remove - bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */ 
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active, .pill-content > .active {
    height: auto;       /* let the content decide it  */
} 

/*Related Products*/
.recommended {
    /*border-top: solid 2px #ddd;*/
    margin-top: 20px;
    padding-top: 20px;
}
.recommended h1 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
#SimilarProductSlider .item {
    /*padding: 30px 0px 0;*/
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.recommended .description {
    min-height: 70px;
}
.related .description {
    min-height: 50px;
}
.product-image {
    max-width: 100%;
	min-height:200px;
}
.product-image img {
    max-width: 100%;
}
#SimilarProductSlider .product-image img {
    max-height: 200px;
}

.rating-here .fa, .rating .fa {
	color: #FFD603;
    color: #ffbb00;
	font-size:17px;
	letter-spacing:1px;
}
.rating-here .rating-symbol-background.fa{
    color: #d4d4d4; 
}

.rating .progress {
	height:15px;
	margin:0px auto;
	width:80%;
}
.rating .progress-bar {
	background-color:#FFD603;
}